<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <title>
        Login
    </title>

  </head>

  <body>

    <div class="container mt-4">
        <div class="p-4 m-4">
          <div class="col-lg-5 rounded mx-auto border pt-4">
                <div class="text-center col">
                    <div class="display-8">Login Here</div>
                    <hr>
                </div>

                {% if success_message %}
                    <div class="alert alert-success" role="alert">
                        {{ success_message }}
                    </div>
                {% elif error_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}

                <form method="POST">

                    {% csrf_token %}

                    <!-- email -->
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" name="emailid" class="form-control-sm form-control">
                    </div>

                    <!-- password -->
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control form-control-sm">
                    </div>

                    <!-- login button -->
                    <div class="form-group">
                        <input class="btn btn-sm btn-info col-lg-12" type="submit" value="Login">
                    </div>

                </form>
                <div class="footer-like">
                    <p>
                     <a href="http://localhost:8000/register/"> Signup </a>
                    </p>
                  </div>

            </div>
        </div>
    </div>

  </body>

</html>